@model IEnumerable<Biblioteca.Data.PerfilUsuario>

@{
    ViewBag.Title = "Index";
}

<h2>Listagem</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeLocacoes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeCursos)
        </th>
   
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeLocacoes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeCursos)
        </td>
 
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
  
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
