@model Biblioteca.Data.UsuarioCurso

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>UsuarioCurso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coordenador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coordenador)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Voltar", "Index")
</p>
