@model Biblioteca.Data.Exemplar

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Exemplar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Livro.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Livro.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidade.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidade.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoEdicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoEdicao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
